.navbar {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navlinks {
  display: flex;
  gap: 15px;
}
.navlinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
