.navbar {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}
.navlinks {
  display: flex;
  gap: 15px;
  list-style: none;
}
.navlinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: Arial, sans-serif;
  transition: 0.3s ease;
  position: relative;
}
.navlinks a:hover {
  color: gold;
}
.btn {
  background-color: gold;
  color: black;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: bold;
}
.btn:hover {
  transform: scale(1.05);
}
