@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body{
  background-color: #111;
  color: white;
}

/* SECTION*/
section{
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 30px;
}

/* END SECTION*/

/*PRODUCTS*/
section header{
  font-family: 0.85rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 12px;
}
/*END PRODUCTS*/

/* H1*/

section h1{
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  line-height: 1.4;
  margin-bottom: 40px;
  max-width: 650px;
  
}
/* END H1*/

/* product card layout*/
section{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}

section header,
section h1{
  width: 100%;
}
/*End of product card layout*/

/* individual card*/

div{
  flex: 1 1 calc(25% - 20px);
  background: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

div:hover{
  transform: translate(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
/* end individual card*/
